<!DOCTYPE html>
<html>
{% include _partials/header.html %}

<body>
    {% include _partials/nav.html %}

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <p>To visit the site of the</p>
                    <h2><a href="http://ictinnovations.org">ICT Innovation Conference 2015</a></h2>
                    <p>click the following link</p>
                    <p>
                        <a href="http://ictinnovations.org" class="btn btn-lg btn-info">ictinnovations.org</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 id="about">Association for Information and Communication Technologies ICT-ACT</h2>
                <p class="lead">
                    Mission of the ICT Association is to support the development of information and communication technologies in Macedonia, the Balkan region and beyond, especially in the area of education, research and application of innovative technologies. Strategic goals of the Association are:
                </p>
                <ul class="lead">
                    <li>To promote scientific research work in the field of informatics, information and communication technologies. </li>
                    <li>To promote application of information and communication technologies for building information society.</li>
                </ul>
                <p class="lead">
                    The Association has the following goals:
                </p>
                <ul class="lead">
                    <li>Organising of scientific conferences and workshops in the areas of interest to the Association.</li>
                    <li>Organising of expert and scientific lectures and presentations of domestic and foreign experts.</li>
                    <li>Organising research in the area of interest Creating support to the institutions of higher education on cycle 1, 2 and 3.</li>
                    <li>Active collaboration with ICT industry trough projects and IT expertise Proposing and participating in scientific research projects.</li>
                    <li>Active collaboration with governmental and other organizations in the area of ICT industry trough appropriate consultancy, workshops, discussion groups, realization of applicative projects and IT expertise.</li>
                </ul>
            </div>
        </div>
    </div>
    {% include _partials/footer.html %}

</body>

</html>
